coreaas/database-resources/database-reportes/src/main/resources/Azure/DataFactory/Pipelines/InicioTenant/CargaInicialCoreReportes.json
{
    "name": "CargaInicialCoreReportes",
    "properties": {
        "activities": [
            {
                "name": "DynamicLoadLookUp",
                "type": "Lookup",
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlSource",
                        "sqlReaderStoredProcedureName": "[dbo].[USP_REP_UTIL_CoreTableList]"
                    },
                    "dataset": {
                        "referenceName": "DSReportes",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "DynamicLoadForEach",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "DynamicLoadLookUp",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@activity('DynamicLoadLookUp').output.value",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Copy",
                            "type": "Copy",
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30
                            },
                            "typeProperties": {
                                "source": {
                                    "type": "SqlSource",
                                    "sqlReaderQuery": {
                                        "value": "SELECT @{item().columnas} FROM @{item().tabla}",
                                        "type": "Expression"
                                    }
                                },
                                "sink": {
                                    "type": "SqlSink",
                                    "writeBatchSize": 10000
                                },
                                "enableStaging": false,
                                "parallelCopies": 8,
                                "dataIntegrationUnits": 16
                            },
                            "inputs": [
                                {
                                    "referenceName": "DSCore",
                                    "type": "DatasetReference"
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "DSReportesDboDynamicTableDestiny",
                                    "type": "DatasetReference"
                                }
                            ]
                        }
                    ]
                }
            }
        ]
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}