coreaas/database-resources/database-reportes/src/main/resources/Azure/DataFactory/Pipelines/IntegracionReportes/CargaCoreMasivaReportes.json
{
    "name": "CargaCoreMasivaReportes",
    "properties": {
        "activities": [
            {
                "name": "DatoTemporalSolicitud_maxId",
                "type": "Lookup",
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlSource",
                        "sqlReaderQuery": "DECLARE @maxId BIGINT\nSELECT @maxId = MAX(dtsId) FROM dbo.DatoTemporalSolicitud\nSELECT ISNULL(@maxId,0) maxId"
                    },
                    "dataset": {
                        "referenceName": "DSReportes",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "DatoTemporalSolicitud_Copy",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "DatoTemporalSolicitud_maxId",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlSource",
                        "sqlReaderQuery": {
                            "value": "SELECT * FROM dbo.DatoTemporalSolicitud WHERE dtsId > @{activity('DatoTemporalSolicitud_maxId').output.firstRow.maxId}",
                            "type": "Expression"
                        }
                    },
                    "sink": {
                        "type": "SqlSink",
                        "writeBatchSize": 10000
                    },
                    "enableStaging": false,
                    "parallelCopies": 8
                },
                "inputs": [
                    {
                        "referenceName": "DSCore",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "DSReportesDatoTemporalSolicitud",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "EstadoAfiliacionEmpleadorCaja_maxId",
                "type": "Lookup",
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlSource",
                        "sqlReaderQuery": "DECLARE @maxId BIGINT\nSELECT @maxId = MAX(eecId) FROM dbo.EstadoAfiliacionEmpleadorCaja\nSELECT ISNULL(@maxId,0) maxId"
                    },
                    "dataset": {
                        "referenceName": "DSReportes",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "EstadoAfiliacionPersonaCaja_maxId",
                "type": "Lookup",
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlSource",
                        "sqlReaderQuery": "DECLARE @maxId BIGINT\nSELECT @maxId = MAX(eacId) FROM dbo.EstadoAfiliacionPersonaCaja\nSELECT ISNULL(@maxId,0) maxId"
                    },
                    "dataset": {
                        "referenceName": "DSReportes",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "EstadoAfiliacionPersonaEmpresa_maxId",
                "type": "Lookup",
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlSource",
                        "sqlReaderQuery": "DECLARE @maxId BIGINT\nSELECT @maxId = MAX(eaeId) FROM dbo.EstadoAfiliacionPersonaEmpresa\nSELECT ISNULL(@maxId,0) maxId"
                    },
                    "dataset": {
                        "referenceName": "DSReportes",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "EstadoAfiliacionPersonaIndependiente_maxId",
                "type": "Lookup",
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlSource",
                        "sqlReaderQuery": "DECLARE @maxId BIGINT\nSELECT @maxId = MAX(eaiId) FROM dbo.EstadoAfiliacionPersonaIndependiente\nSELECT ISNULL(@maxId,0) maxId"
                    },
                    "dataset": {
                        "referenceName": "DSReportes",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "EstadoAfiliacionPersonaPensionado_maxId",
                "type": "Lookup",
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlSource",
                        "sqlReaderQuery": "DECLARE @maxId BIGINT\nSELECT @maxId = MAX(eapId) FROM dbo.EstadoAfiliacionPersonaPensionado\nSELECT ISNULL(@maxId,0) maxId"
                    },
                    "dataset": {
                        "referenceName": "DSReportes",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "EstadoAfiliacionEmpleadorCaja_copy",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "EstadoAfiliacionEmpleadorCaja_maxId",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlSource",
                        "sqlReaderQuery": {
                            "value": "SELECT * FROM dbo.EstadoAfiliacionEmpleadorCaja WHERE eecId > @{activity('EstadoAfiliacionEmpleadorCaja_maxId').output.firstRow.maxId}",
                            "type": "Expression"
                        }
                    },
                    "sink": {
                        "type": "SqlSink",
                        "writeBatchSize": 10000
                    },
                    "enableStaging": false,
                    "parallelCopies": 8
                },
                "inputs": [
                    {
                        "referenceName": "DSCore",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "DSReportesEstadoAfiliacionEmpleadorCaja",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "EstadoAfiliacionPersonaCaja_copy",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "EstadoAfiliacionPersonaCaja_maxId",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlSource",
                        "sqlReaderQuery": {
                            "value": "SELECT eacId,\neacPersona,\neacEstadoAfiliacion,\neacFechaCambioEstado FROM dbo.EstadoAfiliacionPersonaCaja WHERE eacId > @{activity('EstadoAfiliacionPersonaCaja_maxId').output.firstRow.maxId}",
                            "type": "Expression"
                        }
                    },
                    "sink": {
                        "type": "SqlSink",
                        "writeBatchSize": 10000
                    },
                    "enableStaging": false,
                    "parallelCopies": 8
                },
                "inputs": [
                    {
                        "referenceName": "DSCore",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "DSReportesEstadoAfiliacionPersonaCaja",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "EstadoAfiliacionPersonaEmpresa_copy",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "EstadoAfiliacionPersonaEmpresa_maxId",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlSource",
                        "sqlReaderQuery": {
                            "value": "SELECT eaeId,\neaePersona,\neaeEmpleador,\neaeEstadoAfiliacion,\neaeFechaCambioEstado FROM dbo.EstadoAfiliacionPersonaEmpresa WHERE eaeId > @{activity('EstadoAfiliacionPersonaEmpresa_maxId').output.firstRow.maxId}",
                            "type": "Expression"
                        }
                    },
                    "sink": {
                        "type": "SqlSink",
                        "writeBatchSize": 10000
                    },
                    "enableStaging": false,
                    "parallelCopies": 8
                },
                "inputs": [
                    {
                        "referenceName": "DSCore",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "DSReportesEstadoAfiliacionPersonaEmpresa",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "EstadoAfiliacionPersonaIndependiente_copy",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "EstadoAfiliacionPersonaIndependiente_maxId",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlSource",
                        "sqlReaderQuery": {
                            "value": "SELECT eaiId,\neaiPersona,\neaiEstadoAfiliacion,\neaiFechaCambioEstado,\neaiClaseIndependiente FROM dbo.EstadoAfiliacionPersonaIndependiente WHERE eaiId > @{activity('EstadoAfiliacionPersonaIndependiente_maxId').output.firstRow.maxId}",
                            "type": "Expression"
                        }
                    },
                    "sink": {
                        "type": "SqlSink",
                        "writeBatchSize": 10000
                    },
                    "enableStaging": false,
                    "parallelCopies": 8
                },
                "inputs": [
                    {
                        "referenceName": "DSCore",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "DSReportesEstadoAfiliacionPersonaIndependiente",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "EstadoAfiliacionPersonaPensionado_copy",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "EstadoAfiliacionPersonaPensionado_maxId",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlSource",
                        "sqlReaderQuery": {
                            "value": "SELECT eapId,\neapPersona,\neapEstadoAfiliacion,\neapFechaCambioEstado FROM dbo.EstadoAfiliacionPersonaPensionado WHERE eapId > @{activity('EstadoAfiliacionPersonaPensionado_maxId').output.firstRow.maxId}",
                            "type": "Expression"
                        }
                    },
                    "sink": {
                        "type": "SqlSink",
                        "writeBatchSize": 10000
                    },
                    "enableStaging": false,
                    "parallelCopies": 8
                },
                "inputs": [
                    {
                        "referenceName": "DSCore",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "DSReportesEstadoAfiliacionPersonaPensionado",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "CategoriaAfiliado_maxId",
                "type": "Lookup",
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlSource",
                        "sqlReaderQuery": "DECLARE @maxId BIGINT\nSELECT @maxId = MAX(ctaId) FROM dbo.CategoriaAfiliado\nSELECT ISNULL(@maxId,0) maxId"
                    },
                    "dataset": {
                        "referenceName": "DSReportes",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "CategoriaAfiliado",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "CategoriaAfiliado_maxId",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlSource",
                        "sqlReaderQuery": {
                            "value": "SELECT ctaId,\nctaAfiliado,\nctaTipoAfiliado,\nctaClasificacion,\nctaTotalIngresoMesada,\nctaEstadoAfiliacion,\nctaFechaFinServicioSinAfiliacion,\nctaCategoria,\nctaMotivoCambioCategoria,\nctaFechaCambioCategoria\nFROM dbo.CategoriaAfiliado \nWHERE ctaId > @{activity('CategoriaAfiliado_maxId').output.firstRow.maxId}",
                            "type": "Expression"
                        }
                    },
                    "sink": {
                        "type": "SqlSink",
                        "writeBatchSize": 10000
                    },
                    "enableStaging": false,
                    "parallelCopies": 8
                },
                "inputs": [
                    {
                        "referenceName": "DSCore",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "DSReportesCategoriaAfiliado",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "CategoriaBeneficiario_maxId",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "CategoriaAfiliado",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlSource",
                        "sqlReaderQuery": "DECLARE @maxId BIGINT\nSELECT @maxId = MAX(ctbId) FROM dbo.CategoriaBeneficiario\nSELECT ISNULL(@maxId,0) maxId"
                    },
                    "dataset": {
                        "referenceName": "DSReportes",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "CategoriaBeneficiario",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "CategoriaBeneficiario_maxId",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlSource",
                        "sqlReaderQuery": {
                            "value": "SELECT ctbId,\nctbBeneficiarioDetalle,\nctbTipoBeneficiario,\nctbCategoriaAfiliado\nFROM dbo.CategoriaBeneficiario\nWHERE ctbId > @{activity('CategoriaBeneficiario_maxId').output.firstRow.maxId}",
                            "type": "Expression"
                        }
                    },
                    "sink": {
                        "type": "SqlSink",
                        "writeBatchSize": 10000
                    },
                    "enableStaging": false,
                    "parallelCopies": 8
                },
                "inputs": [
                    {
                        "referenceName": "DSCore",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "DSReportesCategoriaBeneficiario",
                        "type": "DatasetReference"
                    }
                ]
            }
        ]
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}