coreaas/database-resources/database-reportes/src/main/resources/Azure/DataFactory/Pipelines/IntegracionReportes/CargaIncrementalPila.json
{
    "name": "CargaIncrementalPila",
    "properties": {
        "activities": [
            {
                "name": "IterarTablasPila",
                "type": "ForEach",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@pipeline().parameters.tableList",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "OldWaterMarkPila",
                            "type": "Lookup",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "SqlSource",
                                    "sqlReaderQuery": {
                                        "value": "select * from watermarktable where wmtTableName=  '@{item().TABLE_NAME}'",
                                        "type": "Expression"
                                    }
                                },
                                "dataset": {
                                    "referenceName": "DSWatermark",
                                    "type": "DatasetReference"
                                }
                            }
                        },
                        {
                            "name": "NewWaterMarkPila",
                            "type": "Lookup",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "SqlSource",
                                    "sqlReaderQuery": {
                                        "value": "select ISNULL(MAX(@{item().WaterMark_Column}),'17530101') as NewWatermarkvalue from @{item().TABLE_NAME}",
                                        "type": "Expression"
                                    }
                                },
                                "dataset": {
                                    "referenceName": "DSPila",
                                    "type": "DatasetReference"
                                }
                            }
                        },
                        {
                            "name": "CopiaIncrementalPila",
                            "type": "Copy",
                            "dependsOn": [
                                {
                                    "activity": "OldWaterMarkPila",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                },
                                {
                                    "activity": "NewWaterMarkPila",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "SqlSource",
                                    "sqlReaderQuery": {
                                        "value": "select * from @{item().TABLE_NAME} where @{item().WaterMark_Column} > '@{activity('OldWaterMarkPila').output.firstRow.wmtWatermarkValue}' and @{item().WaterMark_Column} <= '@{activity('NewWaterMarkPila').output.firstRow.NewWatermarkvalue}'",
                                        "type": "Expression"
                                    }
                                },
                                "sink": {
                                    "type": "SqlSink",
                                    "sqlWriterStoredProcedureName": {
                                        "value": "@{item().StoredProcedureNameForMergeOperation}",
                                        "type": "Expression"
                                    },
                                    "sqlWriterTableType": {
                                        "value": "@{item().TableType}",
                                        "type": "Expression"
                                    },
                                    "storedProcedureTableTypeParameterName": "tableSource"
                                },
                                "enableStaging": false
                            },
                            "inputs": [
                                {
                                    "referenceName": "DSPila",
                                    "type": "DatasetReference"
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "DSPilaSink",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "SinkTableName": "@{item().TABLE_NAME}"
                                    }
                                }
                            ]
                        },
                        {
                            "name": "StoredProceduretoWriteWatermarkActivity",
                            "type": "SqlServerStoredProcedure",
                            "dependsOn": [
                                {
                                    "activity": "CopiaIncrementalPila",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "storedProcedureName": "[dbo].[USP_WRITE_Watermark]",
                                "storedProcedureParameters": {
                                    "LastModifiedtime": {
                                        "value": {
                                            "value": "@{activity('NewWaterMarkPila').output.firstRow.NewWatermarkvalue}",
                                            "type": "Expression"
                                        },
                                        "type": "DateTime"
                                    },
                                    "TableName": {
                                        "value": {
                                            "value": "@{activity('OldWaterMarkPila').output.firstRow.wmtTableName}",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "reportes",
                                "type": "LinkedServiceReference"
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "tableList": {
                "type": "object",
                "defaultValue": [
                    {
                        "TABLE_NAME": "staging.RegistroGeneral",
                        "WaterMark_Column": "regDateTimeUpdate",
                        "TableType": "DataTypefor_RegistroGeneral",
                        "StoredProcedureNameForMergeOperation": "USP_REP_MERGE_RegistroGeneral"
                    },
                    {
                        "TABLE_NAME": "staging.RegistroDetallado",
                        "WaterMark_Column": "redDateTimeUpdate",
                        "TableType": "DataTypefor_RegistroDetallado",
                        "StoredProcedureNameForMergeOperation": "USP_REP_MERGE_RegistroDetallado"
                    },
                    {
                        "TABLE_NAME": "staging.RegistroDetalladoNovedad",
                        "WaterMark_Column": "rdnDateTimeUpdate",
                        "TableType": "DataTypefor_RegistroDetalladoNovedad",
                        "StoredProcedureNameForMergeOperation": "USP_REP_MERGE_RegistroDetalladoNovedad"
                    },
                    {
                        "TABLE_NAME": "PilaErrorValidacionLog",
                        "WaterMark_Column": "pevDateTimeUpdate",
                        "TableType": "DataTypefor_PilaErrorValidacionLog",
                        "StoredProcedureNameForMergeOperation": "USP_REP_MERGE_PilaErrorValidacionLog"
                    },
                    {
                        "TABLE_NAME": "PilaEstadoBloque",
                        "WaterMark_Column": "pebDateTimeUpdate",
                        "TableType": "DataTypefor_PilaEstadoBloque",
                        "StoredProcedureNameForMergeOperation": "USP_REP_MERGE_PilaEstadoBloque"
                    },
                    {
                        "TABLE_NAME": "PilaIndicePlanilla",
                        "WaterMark_Column": "pipDateTimeUpdate",
                        "TableType": "DataTypefor_PilaIndicePlanilla",
                        "StoredProcedureNameForMergeOperation": "USP_REP_MERGE_PilaIndicePlanilla"
                    }
                ]
            }
        },
        "annotations": []
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}