coreaas/database-resources/database-reportes/src/main/resources/Azure/DataFactory/Pipelines/IntegracionReportes/SincronizarAuditoriaReportes.json
{
    "name": "SincronizarAuditoriaReportes",
    "properties": {
        "activities": [
            {
                "name": "DynamicLoadLookUp",
                "type": "Lookup",
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlSource",
                        "sqlReaderStoredProcedureName": "[dbo].[USP_REP_UTIL_AudTableList]"
                    },
                    "dataset": {
                        "referenceName": "DSReportes",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "DynamicLoadForEach",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "DynamicLoadLookUp",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "INSERT_RevisionMasivaLookUp",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@activity('DynamicLoadLookUp').output.value",
                        "type": "Expression"
                    },
                    "isSequential": false,
                    "activities": [
                        {
                            "name": "CopyAudit",
                            "type": "Copy",
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30
                            },
                            "typeProperties": {
                                "source": {
                                    "type": "SqlSource",
                                    "sqlReaderQuery": {
                                        "value": "SELECT @{item().columnas}=CAST(DATEADD(SECOND, revTimeStamp / 1000, '19700101') AT TIME ZONE 'UTC' AT TIME ZONE 'SA Pacific Standard Time' AS DATETIME) FROM @{item().tablaAud} INNER JOIN Revision ON REV = revId WHERE REV > '@{activity('FirstRevisionLookup').output.firstRow.rarRevisionFin}' AND  REV <= '@{activity('LastRevisionLookup').output.firstRow.revId}'",
                                        "type": "Expression"
                                    }
                                },
                                "sink": {
                                    "type": "SqlSink",
                                    "writeBatchSize": 10000
                                },
                                "enableStaging": false,
                                "parallelCopies": 8
                            },
                            "inputs": [
                                {
                                    "referenceName": "DSAuditoria",
                                    "type": "DatasetReference"
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "DSReportesAudDynamicTableDestiny",
                                    "type": "DatasetReference"
                                }
                            ]
                        },
                        {
                            "name": "USP_REP_ActualizacionMasivaCore",
                            "type": "SqlServerStoredProcedure",
                            "dependsOn": [
                                {
                                    "activity": "CopyAudit",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30
                            },
                            "typeProperties": {
                                "storedProcedureName": "[dbo].[USP_REP_ActualizacionMasivaCore]",
                                "storedProcedureParameters": {
                                    "iRevisionAuditoria": {
                                        "value": {
                                            "value": "@activity('INSERT_RevisionMasivaLookUp').output.firstRow.revisionAuditoria",
                                            "type": "Expression"
                                        },
                                        "type": "Int64"
                                    },
                                    "sColumnas": {
                                        "value": {
                                            "value": "@item().columnas",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    },
                                    "sTabla": {
                                        "value": {
                                            "value": "@item().tabla",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "reportes",
                                "type": "LinkedServiceReference"
                            }
                        }
                    ]
                }
            },
            {
                "name": "LastRevisionLookup",
                "type": "Lookup",
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlSource",
                        "sqlReaderQuery": {
                            "value": "DECLARE @sFechaRevision VARCHAR(10)\nDECLARE @dFechaRevision DATETIME\nDECLARE @RevisionTimeStampFin BIGINT\nSET @sFechaRevision = '@{Pipeline().parameters.FechaRevision}'\nIF @sFechaRevision = 'Default'\nBEGIN\n\tSET @dFechaRevision = CONVERT(DATETIMEOFFSET, GETUTCDATE()) AT TIME ZONE 'SA Pacific Standard Time'\nEND\nELSE\nBEGIN\n\tSET @dFechaRevision = @sFechaRevision\nEND\nSET @dFechaRevision = DATEADD(day,1,CAST(@dFechaRevision AS DATE))\nSET @RevisionTimeStampFin = CAST(DATEDIFF(s, CONVERT(DATETIME, '19700101 00:00:00.000'), @dFechaRevision AT TIME ZONE 'SA Pacific Standard Time' AT TIME ZONE 'UTC') AS BIGINT) * 1000\n\nSELECT revId, revTimeStamp,  CAST(dateadd(second, revTimeStamp / 1000, '19700101') AT TIME ZONE 'UTC' AT TIME ZONE 'SA Pacific Standard Time' AS DATETIME) revTime\nFROM Revision\nWHERE revId IN (\nSELECT MAX(revId) revId\nFROM Revision\nWHERE revTimeStamp < @RevisionTimeStampFin\n)",
                            "type": "Expression"
                        }
                    },
                    "dataset": {
                        "referenceName": "DSAuditoria",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": true
                }
            },
            {
                "name": "FirstRevisionLookup",
                "type": "Lookup",
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlSource",
                        "sqlReaderQuery": {
                            "value": "DECLARE @rev BIGINT\nDECLARE @timeStamp BIGINT\nDECLARE @time DATETIME\n\nSELECT TOP 1 @rev=rarRevisionFin, @time=rarRevisionTimeFin,\n@timeStamp=rarRevisionTimeStampFin\nFROM RevisionAuditoriaReportes\nORDER BY rarId DESC\n\nIF @rev IS NULL\nBEGIN\nSET @rev = 0\nSET @timeStamp = 0\nSET @time = '19700101'\nEND\nSELECT @rev rarRevisionFin,\n@time rarRevisionTimeFin,\n@timeStamp rarRevisionTimeStampFin,\ndbo.GetLocalDate() FechaInicioEjecucion",
                            "type": "Expression"
                        }
                    },
                    "dataset": {
                        "referenceName": "DSReportes",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": true
                }
            },
            {
                "name": "INSERT_RevisionMasivaLookUp",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "LastRevisionLookup",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "FirstRevisionLookup",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlSource",
                        "sqlReaderStoredProcedureName": "[dbo].[USP_REP_INSERT_RevisionMasiva]",
                        "storedProcedureParameters": {
                            "dFechaInicioEjecucion": {
                                "type": "DateTime",
                                "value": {
                                    "value": "@activity('FirstRevisionLookup').output.firstRow.FechaInicioEjecucion",
                                    "type": "Expression"
                                }
                            },
                            "dRevisionTimeFin": {
                                "type": "DateTime",
                                "value": {
                                    "value": "@activity('LastRevisionLookup').output.firstRow.revTime",
                                    "type": "Expression"
                                }
                            },
                            "dRevisionTimeInicio": {
                                "type": "DateTime",
                                "value": {
                                    "value": "@activity('FirstRevisionLookup').output.firstRow.rarRevisionTimeFin",
                                    "type": "Expression"
                                }
                            },
                            "iRevisionFin": {
                                "type": "Int64",
                                "value": {
                                    "value": "@activity('LastRevisionLookup').output.firstRow.revId",
                                    "type": "Expression"
                                }
                            },
                            "iRevisionInicio": {
                                "type": "Int64",
                                "value": {
                                    "value": "@activity('FirstRevisionLookup').output.firstRow.rarRevisionFin",
                                    "type": "Expression"
                                }
                            },
                            "iRevisionTimeStampFin": {
                                "type": "Int64",
                                "value": {
                                    "value": "@activity('LastRevisionLookup').output.firstRow.revTimeStamp",
                                    "type": "Expression"
                                }
                            },
                            "iRevisionTimeStampInicio": {
                                "type": "Int64",
                                "value": {
                                    "value": "@activity('FirstRevisionLookup').output.firstRow.rarRevisionTimeStampFin",
                                    "type": "Expression"
                                }
                            },
                            "uRunId": {
                                "type": "Guid",
                                "value": {
                                    "value": "@pipeline().RunId",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    "dataset": {
                        "referenceName": "DSReportes",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "USP_REP_UPDATE_RevisionMasiva",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "DynamicLoadForEach",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30
                },
                "typeProperties": {
                    "storedProcedureName": "[dbo].[USP_REP_UPDATE_RevisionMasiva]",
                    "storedProcedureParameters": {
                        "iRevisionAuditoria": {
                            "value": {
                                "value": "@activity('INSERT_RevisionMasivaLookUp').output.firstRow.revisionAuditoria",
                                "type": "Expression"
                            },
                            "type": "Int64"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "reportes",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "CargaCoreMasivaReportes",
                "type": "ExecutePipeline",
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "CargaCoreMasivaReportes",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true
                }
            },
            {
                "name": "CargaPilaMasivaReportes",
                "type": "ExecutePipeline",
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "CargaPilaMasivaReportes",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true
                }
            }
        ],
        "parameters": {
            "FechaRevision": {
                "type": "String"
            }
        }
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}