coreaas/database-resources/database-reportes/src/main/resources/Azure/DataFactory/Pipelines/IntegracionAuditoria/CargarIncrementalAuditoriaCore.json
{
    "name": "CargarIncrementalAuditoriaCore",
    "properties": {
        "activities": [
            {
                "name": "ObtenerMarcaAuditoriaLookup",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.00:10:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SqlSource",
                        "sqlReaderQuery": "SELECT CAST(CASE WHEN EXISTS(SELECT 1 FROM MarcaProcesamiento with (nolock)) THEN 'true' ELSE 'false' END AS BIT) EnEjecucion"
                    },
                    "dataset": {
                        "referenceName": "DSAuditoria",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "IFEstaDisponible",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "ObtenerMarcaAuditoriaLookup",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@not(activity('ObtenerMarcaAuditoriaLookup').output.firstRow.EnEjecucion)",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "CondicionalSincronizarAuditoria",
                            "type": "ExecutePipeline",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "CondicionalSincronizarAuditoria",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": true
                            }
                        }
                    ]
                }
            }
        ],
        "concurrency": 1,
        "annotations": []
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}